<%- include("./layout/header.ejs") %>
<h1>forget password</h1>

<form method="post">
  <div>
    <input
      type="email"
      placeholder="Enter email"
      name="email"
      size="50"
      required
    />
  </div>
  <br />
  <br />
  <div>
    <button type="submit">Reset password</button>
  </div>
  <br />
  <br />
</form>
<%if(typeof message !== "undefined"){%>
<h3><%=message%></h3>
<%}%> <%- include("./layout/footer.ejs") %>
