<%- include("./layout/header.ejs") %>
<h1>Reset password</h1>

<form method="post">
  <br />
  <div>
    <input
      type="password"
      placeholder="Enter password"
      name="password"
      size="50"
      required
    />
  </div>
  <br />
  <input type="hidden" name="userId" value="<%=userId%>" />
  <div>
    <button type="submit">Reset password</button>
  </div>
  <br />
</form>
<%if(typeof message !== "undefined"){%>
<h3><%=message%></h3>
<%}%> <%- include("./layout/footer.ejs") %>
